<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.freshchen.keeping.dao.mapper.UserMapper">

    <resultMap id="user_po_result" type="com.github.freshchen.keeping.dao.po.UserPo">
        <id property="id" column="id"/>
        <result property="countryId" column="country_id"/>
        <result property="userName" column="user_name"/>
        <result property="email" column="email"/>
        <result property="gender" column="gender"/>
        <result property="createTime" column="create_time"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result property="updateTime" column="update_time"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <resultMap id="user_po_details_result" type="com.github.freshchen.keeping.dao.po.UserDetailsPo"
               extends="user_po_result">
        <association property="countryPo" column="country_id" javaType="com.github.freshchen.keeping.dao.po.CountryPo"
                     select="getCountryById"/>
        <collection property="userTagPos" column="id" javaType="ArrayList"
                    ofType="com.github.freshchen.keeping.dao.po.UserTagPo" select="getTagsByUserId"/>
    </resultMap>

    <sql id="user_po_fields">
        id
        ,country_id, user_name, email, gender, create_time, update_time, deleted
    </sql>
    <sql id="country_po_fields">
        id
        ,name, create_time, update_time, deleted
    </sql>

    <insert id="createUser" parameterType="com.github.freshchen.keeping.dao.po.UserPo">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            user_name, email, gender, country_id,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{userPo.userName}, #{userPo.email}, #{userPo.gender}, #{userPo.countryId},
        </trim>
    </insert>

    <select id="getUser" resultMap="user_po_result">
        select
        <include refid="user_po_fields"/>
        from user
        order by id desc
        limit 1
    </select>

    <select id="getUsers" resultMap="user_po_result">
        select
        <include refid="user_po_fields"/>
        from user
        where id in
        <foreach collection="userIds" item="item" open="(" separator="," close=")">#{item}</foreach>
    </select>

    <select id="getUserByGender" resultMap="user_po_result">
        select
        <include refid="user_po_fields"/>
        from user
        <if test="gender != null">
            where gender = #{gender}
        </if>
        order by id desc
    </select>

    <select id="getUserWhere" resultMap="user_po_result">
        select
        <include refid="user_po_fields"/>
        from user
        <where>
            <if test="gender != null">
                gender = #{gender}
            </if>
            <if test="countryId != null">
                AND country_id = #{countryId}
            </if>
        </where>
    </select>


    <select id="getUserDetails" resultMap="user_po_details_result">
        select
        <include refid="user_po_fields"/>
        from user
        order by id desc
        limit 1
    </select>

    <select id="getCountryById" resultType="com.github.freshchen.keeping.dao.po.CountryPo">
        select
        <include refid="country_po_fields"/>
        from country
        where id = #{id}
    </select>

    <select id="getTagsByUserId" resultType="com.github.freshchen.keeping.dao.po.UserTagPo">
        select *
        from user_tag
        where user_id = #{user_id}
    </select>


</mapper>
